p {
  display: block;
  height: 25px;
  width: 150px;
  border: 1px solid green;
  border-radius: 5px;
}
.arrows {
  display: inline-grid;
  grid-auto-flow: row;
  grid-template-columns: 50px 150px;
}
.no__arrow-body {
  width: 10px;
  height: 250px;
  margin: 20px 50px 0 10px;
  background-color: blue;
  order: 1;
}
.no__arrow-spike {
  width: 0;
  height: 0;
  margin: 0 100px 20px 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid blue;
  order: 4;
}
.or__arrow-body {
  width: 10px;
  height: 250px;
  margin: 20px 50px 0 10px;
  background-color: blue;
  order: 2;
}
.or__arrow-spike {
  order: 5;
  width: 150px;
  height: 10px;
  margin: 0 0 0 10px;
  border-radius: 0 0 0 10px;
  background-color: blue;
}
